<div>
	<h3 class="title wow zoomIn" data-wow-duration="2s" data-wow-delay="0.5s" >¿Perdiste tu mascota?<span> te ayudaremos a encontrarla</span></h3>
</div>

<div>
	<p>Sube la imagen más reciente donde se la pueda apreciar bien.
</div>

<div>
	<label class="custom-file">
	  <input type="file" id="file" class="custom-file-input">
	  <span class="custom-file-control"></span>
	</label>
</div>

<hr>

<%= render 'form' %>

<%= link_to 'Volver', :back, class: "btn btn-default"  %>