<div>
  <h3 class="title wow zoomIn" data-wow-duration="2s" data-wow-delay="0.5s" >¿Perdiste tu mascota?<span> te ayudaremos a encontrarla</span></h3>
</div>

<hr>

<div class="col-md-6 center">
  <%= render 'form' %>
  <%= link_to 'Volver', :back, class: "btn btn-default"  %>
</div>