<div class="header wow fadeInDown animated" data-wow-delay=".5s">
  <%= render partial: 'layouts/nav' %>
  <div class="text-center" >
    <img class="" style="width: auto; height: 175px;" src=<%= asset_path 'logo02.png' %> alt=" " />
  </div>
</div>